---
import About from '~/components/dom/About';
import Contact from '~/components/dom/Contact';
import Landing from '~/components/dom/Landing';
import ThemeHandler from '~/components/dom/ThemeHandler';
import Work from '~/components/dom/Work';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div>
    <ThemeHandler client:only="react" />
    <Landing client:only="react" />
    <About client:only="react" />
    <Work />
    <Contact />
  </div>
</Layout>

<script>
  const toggle = document.getElementById('#theme-toggle');
  if (toggle) {
    toggle.addEventListener('change', (e) => {
      const { checked } = e.target as HTMLInputElement;
      console.log('🚀 ~ file: index.astro:51 ~ toggle.addEventListener ~ checked:', checked);
      localStorage.setItem('usehooks-ts-darkMode', `${checked}`);
      const event = new CustomEvent('theme-change', { detail: checked });
      document.dispatchEvent(event);
    });
  }
  // function handleThemeChange(e) {
  //   const { checked } = e.target;
  //   console.log('🚀 ~ file: index.astro:51 ~ toggle.addEventListener ~ checked:', checked);
  //   localStorage.setItem('usehooks-ts-darkMode', checked);
  //   const event = new CustomEvent('theme-change', { detail: checked });
  //   document.dispatchEvent(event);
  // }
</script>
