---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Canvas from '~/components/canvas';
import { events } from '@react-three/fiber';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const defaultCanvasProps = {
  gl: {
    powerPreference: 'high-performance',
    antialias: true,
    depth: true,
    // alpha: false,
    stencil: false,
  },
  camera: {
    near: 0.01,
    far: 2000,
    fov: 75,
    // zoom: isMobile ? 0.75 : 1
    // makeDefault: true,
    // position: position,
    // quaternion: quaternion,
  },
  resize: { polyfill: ResizeObserver },
  // dpr: window.devicePixelRatio,
  // events: undefined,
};
---

<Layout {meta}>
  <div id="hero" class="hero min-h-screen overflow-hidden bg-[#3f3f3f] text-white">
    <div class="hero-content text-center z-[5]">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Isaiah Anyimi</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti
          eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <!-- <div id="canvas" class="absolute overflow-hidden top-0 left-0 min-w-full min-h-full bg-red-300"> -->
    <Canvas defaultCanvasProps={defaultCanvasProps} client:only="react" />
    <!-- </div> -->
  </div>
</Layout>
