@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Active Theme */
    --activePrimary: var(--space-cadet-red-primary);
    --activeSecondary: var(--space-cadet-red-pecondary);
    --activeAcccent: var(--space-cadet-red-pcccent);
    --activeNeutral: var(--space-cadet-red-peutral);
    --activeBase100: var(--space-cadet-red-pase100);
    --activeInfo: var(--space-cadet-red-pnfo);
    --activeSuccess: var(--space-cadet-red-puccess);
    --activeWarning: var(--space-cadet-red-parning);
    --activeError: var(--space-cadet-red-prror);

    /* Space Red Cadet */
    --space-cadet-red-primary: #2b2d42;
    --space-cadet-red-pecondary: #8d99ae;
    --space-cadet-red-pcccent: #ef233c;
    --space-cadet-red-peutral: #edf2f4;
    --space-cadet-red-pase100: #ffffff;
    --space-cadet-red-pnfo: #3abff8;
    --space-cadet-red-puccess: #36d399;
    --space-cadet-red-parning: #fbbd23;
    --space-cadet-red-prror: #d90429;

    /* Floral White Flame */
    --floralWhiteFlamePrimary: #fffcf2;
    --floralWhiteFlameSecondary: #2b2d42;
    --floralWhiteFlameAcccent: #eb5e28;
    --floralWhiteFlameNeutral: #403d39;
    --floralWhiteFlameBase100: #252422;
    --floralWhiteFlameInfo: #3abff8;
    --floralWhiteFlameSuccess: #36d399;
    --floralWhiteFlameWarning: #eb5e28;
    --floralWhiteFlameError: #d90429;

    /* Resetting daisyui Themes */
    --p: var();
  }

  .loading {
    visibility: hidden;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
}
