@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Active Theme */
    --activePrimary: var(--space-cadet-red-primary);
    --activeSecondary: var(--space-cadet-red-secondary);
    --activeAcccent: var(--space-cadet-red-accent);
    --activeNeutral: var(--space-cadet-red-neutral);
    --activeBase100: var(--space-cadet-red-base-100);
    --activeInfo: var(--space-cadet-red-info);
    --activeSuccess: var(--space-cadet-red-success);
    --activeWarning: var(--space-cadet-red-warning);
    --activeError: var(--space-cadet-red-error);

    /* Space Red Cadet */
    --space-cadet-red-primary: #2b2d42;
    --space-cadet-red-secondary: #8d99ae;
    --space-cadet-red-accent: #ef233c;
    --space-cadet-red-neutral: #edf2f4;
    --space-cadet-red-base-100: #ffffff;
    --space-cadet-red-info: #3abff8;
    --space-cadet-red-success: #36d399;
    --space-cadet-red-warning: #fbbd23;
    --space-cadet-red-error: #d90429;

    /* Floral White Flame */
    --floral-white-flame-primary: #fffcf2;
    --floral-white-flame-secondary: #2b2d42;
    --floral-white-flame-accent: #eb5e28;
    --floral-white-flame-neutral: #403d39;
    --floral-white-flame-base-100: #252422;
    --floral-white-flame-info: #3abff8;
    --floral-white-flame-success: #36d399;
    --floral-white-flame-warning: #eb5e28;
    --floral-white-flame-error: #d90429;

    /* Resetting daisyui Themes */
    --p: var();
  }

  .loading {
    visibility: hidden;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
}
